<hr class="rule" />

<footer class="container site-footer">

  <div class="py5 row">

    <div class="column ">
      prolocker logo
    </div>
    <div class="column column--auto ">
      <h6>&copy; {{ 'now' | date: "%Y" }} ProLocker. All rights reserved.</h6>
    </div>
    <nav class="column footer__nav">
      <a class="link" href="https://facebook.com">FB</a>
      <a class="link" href="https://facebook.com">FB</a>
      <a class="link" href="https://facebook.com">FB</a>
      <a class="link" href="https://facebook.com">FB</a>
      <a class="link" href="https://facebook.com">FB</a>
    </nav>
  </div>

</footer>
