<hr class="rule rule--full" />
<footer class="container footer">
  <div class="footer__inner row">
    <a class="column" href="{{ site.baseurl }}/">
      <img class="icon icon--large" src="/img/logo-icon.svg" alt="{{ site.title }}" />
      <span class="visuallyhidden">{{ site.title }}</span>
    </a>
    <div class="column column--auto ">
      <h6>&copy; {{ 'now' | date: "%Y" }} ProLocker. All Rights Reserved.</h6>
    </div>
    <nav class="column footer__nav">
      <a class="link link--footer" href="{{ site.youtubeUrl }}" >
        <img class="icon" src="/img/youtube.svg" alt="youtube Logo" />
        <span class="visuallyhidden">Check out {{ site.title }} on youtube</span>
      </a>
      <a class="link link--footer" href="{{ site.facebookUrl }}" >
        <img class="icon" src="/img/facebook.svg" alt="Facebook Logo" />
        <span class="visuallyhidden">Check out {{ site.title }} on facebook</span>
      </a>
      <a class="link link--footer" href="{{ site.snapChatUrl }}" >
        <img class="icon" src="/img/snapchat.svg" alt="snap chat Logo" />
        <span class="visuallyhidden">Check out {{ site.title }} on snapchat</span>
      </a>
      <a class="link link--footer" href="{{ site.instagramUrl }}" >
        <img class="icon" src="/img/instagram.svg" alt="instagram Logo" />
        <span class="visuallyhidden">Check out {{ site.title }} on instagram</span>
      </a>
      <a class="link link--footer" href="{{ site.twitterUrl }}" >
        <img class="icon" src="/img/twitter.svg" alt="twitter Logo" />
        <span class="visuallyhidden">Check out {{ site.title }} on twitter</span>
      </a>
    </nav>
  </div>
</footer>
