<header class="header container">
  <div class="row row--full">
    <a class="column column--auto header__link header__logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="column header__nav">
      <a class="link link--has-line header__link" href="https://prolocker.com/discover">Discover</a>
      <a class="link link--has-line header__link" href="https://prolocker.com/auth/login">Log In</a>
      <a class="link link--has-line header__link" href="https://prolocker.com/auth/signup">Sign Up</a>
    </nav>
  </div>
</header>
