/* =========================================
		Breakpoints
   ========================================= */
/**
 * Prefix breakpoints with $b_
 * this makes them easier to find
 * with autocomplete
 *
 * You can use the 'bp' mixin to
 * easily use these breakpoints
 * in your sass code.
 */

// examples:

// mobile first queries
$b-mobile:  '(min-width: 400px)';

$b-tablet:  '(min-width: 600px)';

$b-laptop:  '(min-width: 800px)';

$b-desktop: '(min-width: 1024px)';
