/* =========================================
		Dimensions
   ========================================= */
/**
 * Prefix dimensions with $d_
 * to make them easier to find
 * with autocomplete
**/

$d-container-max: 1000px;
$d-base: 8px;
$d-duo: $d-base * 2;
$d-trio: $d-base * 3;
$d-quad: $d-base * 4;
$d-quin: $d-base * 5;
$d-sex: $d-base * 6;
$d-oct: $d-base * 8;

