.page__label {
    padding: 0 0 $d-base;

    @include bp($b-desktop) {
        padding: 0 $d-base;
        flex: 1 0 20%;
    }
}

.page__value {
    padding: 0;

    @include bp($b-desktop) {
        flex: 4 0 80%;
        padding: 0 $d-quad * 2 $d-duo;
    }
}
