.link {
  text-decoration: none;
  transition: color $a-timing;
  color: inherit;
  &.is-active,
  &:hover {
    color: $ca-linkHov;
  }
}

.link--inline {
  text-decoration: underline;
}

.link--has-line {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:auto;
    height: 3px;
    background: $ca-linkLine;
    transition: transform $a-timing;
    transform-origin: 100% 100%;
    transform: scaleY(0);
  }

  &.is-active:after,
  &:hover:after {
    transform: scaleY(1);
  }
}

a {
  @extend .link;
}

p > a {
  @extend .link--inline;
}

