.container {
    position: relative;
    padding: 0 $d-duo;
    @include bp($b-tablet) {
      padding: 0 $d-trio;
    }
    @include bp($b-desktop) {
      padding: 0 $d-trio;
    }
}

.row {
    max-width: $d-container-max;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;

    @include bp($b-tablet) {
      flex-direction: row;
    }
}

.row--full {
    max-width: 100%;
}

.column {
  padding: $d-base;
}

.column--auto {
  flex: 1 1 auto;
}

.column--3-4 {

  @include bp($b-tablet) {
    max-width: 75%;
  }
}

.centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}
