.header {
  background: $ca-headerBg;
  box-shadow: $s-default;
}

.header__inner {
  flex-direction: row;
}

.header__nav {
  padding: 0
}

.header__link {
  line-height: $d-oct;
  padding: 0;
  margin:0 $d-base/2;
  @include bp($b-mobile) {
    margin:0 $d-base;
  }
}
