.subheader {
  border-bottom: 1px solid $ca-subheaderBorder;
}

.subheader__nav {
  flex-direction: row;
}

.subheader__link {
  line-height: $d-trio;
  text-align: center;
  font-weight: $t-weightSemiBold;
}
