---
layout: default
---

<article class="mb container main page">

  {% if page.intro %}
    <header class="mb row page__header">
      <h1 class="column column--3-4">
        {{page.intro}}
      </h1>
    </header>
  {% else %}
    <header class="mb row page__header">
      <h1 class="column column--3-4">
        {{page.title}}
      </h1>
    </header>
  {% endif %}

  {% if page.blocks %}
    <div class="mb row blocks">
      {% for block in page.blocks %}
        <div class="format column column--auto block">
          <h3>{{ block.heading }}</h3>
          {{ block.text | markdownify }}
        </div>
      {% endfor %}
    </div>
    <div class="row mb">
      <hr class="rule" />
    </div>
  {% endif %}

  <div class="row mb content">
    <div class="column column--3-4">
      {{ content }}
    </div>
  </div>
  {% if page.faqs %}
  <div class="row mb content">
    <header class="mb row page__header">
      <h1 class="column column--3-4">
        {{page.heading}}
      </h1>
    </header>
    <div class="column">
      <dl class="list list--faqs">
      {% for faq in page.faqs %}
      <dt class="list__term"><strong>{{ faq.question }}</strong></dt>
          <dd class="list__def">{{ faq.text | markdownify }}</dd>
      {% endfor %}
      </dl>
    </div>
  </div>
  {% endif %}

</article>
