---
layout: default
---

<article class="container main page">

  {% if page.intro %}
    <header class="py5 row page__header">
      <h1>{{ page.intro }}</h1>
    </header>
  {% endif %}

  {% if page.blocks %}
    <div class="row blocks">
      {% for block in page.blocks %}
        <div class="format column column--auto block">
          <h3>{{ block.heading }}</h3>
          {{ block.text | markdownify }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>

  <div class="row py5">
    <hr class="rule" />
  </div>

  <div class="row post-content">
    {{ content }}
    {% if page.faqs %}
        <dl class="list list--faqs">
        {% for faq in page.faqs %}
        <dt class="list__term"><strong>{{ faq.question }}</strong></dt>
            <dd class="list__def">{{ faq.answer }}</dd>
        {% endfor %}
        </dl>
    {% endif %}
  </div>

</article>
